
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #393E46;
  margin: 0 auto;
  display: flex;
  width: 70%;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  border-radius: 32px;
  min-height: 80vh;
  padding: 2rem;
}

.title-container {
  font-size: 2rem;
  text-align: center;
}

.title-container h1 span {
  color: #00ADB5;
}


.quotes-container h3 {
  position: relative;
  font-size: 1.5rem;
}

.quotes-container h3::before {
  content: '“';
  position: absolute;
  font-size: 3rem;
  top: -30px;
  left: -20px;
  color:#00ADB5;
}

.quotes-container h3::after {
  content: '”';
  position: absolute;
  font-size: 3rem;
  bottom: -50px;
  color: #00ADB5;
}


.quotes-container h4 {
  margin-top: 2rem;
  font-size: 1.2rem;
  position: relative;
  margin-left: 2rem;
}

.quotes-container h4::before {
  content: '-';
  color:#00ADB5;
  position: absolute;
  font-size: 3rem;
  top: -25px;
  left: -20px;
}

.btns-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btns-container button {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 6rem;
  border-radius: 24px;
  background-color: #222831;
  border: 2px solid hsl(183, 100%, 35%);
  color: white;
  display: flex;
  align-items: center;
}

.saved {
  margin-left: 10px;
}

.btns-container button:hover {
  transition: 300ms ease;
  opacity: 0.7;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: red;
}

.dont-show {
  display: none;
}

.disabled {
  opacity: 0.7;
}
